(local_check) {
	@denied not remote_ip private_ranges
	abort @denied
}

hyperpp.xyz {
	handle /mac {
		redir https://gist.github.com/hyperpuncher/071809f95648495c9715dbcc8769ba06/raw
	}
}

files.hyperpp.xyz {
	root * /home/igor/fileserver/
	file_server browse
}

proxmox.hyperpp.xyz {
	import local_check
	reverse_proxy 192.168.31.151:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

syncthing.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:8384
}

radarr.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:7878
}

sonarr.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:8989
}

komga.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:25600
}

qbittorrent.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:8080
}

prowlarr.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:9696
}

immich.hyperpp.xyz {
	reverse_proxy localhost:2283
}

adguard.hyperpp.xyz {
	import local_check
	reverse_proxy 192.168.31.9
}

mainsail.hyperpp.xyz {
	import local_check
	reverse_proxy 192.168.31.19
}

dockge.hyperpp.xyz {
	import local_check
	reverse_proxy localhost:5001
}

coolify.hyperpp.xyz {
	reverse_proxy 192.168.31.84:8000
}

bloodb.app {
	reverse_proxy 192.168.31.84:6969
}

newton.hyperpp.xyz {
	reverse_proxy 192.168.31.84:3000
}

stats.hyperpp.xyz {
	reverse_proxy 192.168.31.84:3001
}
